<p id="notice"><%= notice %></p>

<p>
  <strong>Weight:</strong>
  <%= @colordiamond.weight %>
</p>

<p>
  <strong>Color:</strong>
  <%= @colordiamond.color %>
</p>

<p>
  <strong>Clarity:</strong>
  <%= @colordiamond.clarity %>
</p>

<p>
  <strong>Treatment:</strong>
  <%= @colordiamond.treatment %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @colordiamond.shape %>
</p>

<p>
  <strong>Condgirdle:</strong>
  <%= @colordiamond.condgirdle %>
</p>

<p>
  <strong>Condculet:</strong>
  <%= @colordiamond.condculet %>
</p>

<p>
  <strong>Sizeculet:</strong>
  <%= @colordiamond.sizeculet %>
</p>

<p>
  <strong>Conditioncut:</strong>
  <%= @colordiamond.conditioncut %>
</p>

<p>
  <strong>Length:</strong>
  <%= @colordiamond.length %>
</p>

<p>
  <strong>Width:</strong>
  <%= @colordiamond.width %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @colordiamond.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @colordiamond.height %>
</p>

<p>
  <strong>Description:</strong>
  <%= @colordiamond.description %>
</p>

<p>
  <strong>Intensitecolor:</strong>
  <%= @colordiamond.intensitecolor %>
</p>

<p>
  <strong>Bycolor1:</strong>
  <%= @colordiamond.bycolor1 %>
</p>

<p>
  <strong>Bycolor2:</strong>
  <%= @colordiamond.bycolor2 %>
</p>

<p>
  <strong>Diamondcertificate:</strong>
  <%= @colordiamond.diamondcertificate %>
</p>

<%= link_to 'Edit', edit_colordiamond_path(@colordiamond) %> |
<%= link_to 'Back', colordiamonds_path %>
