<p id="notice"><%= notice %></p>

<p>
  <strong>Weight:</strong>
  <%= @diamond.weight %>
</p>

<p>
  <strong>Color:</strong>
  <%= @diamond.color %>
</p>

<p>
  <strong>Clarity:</strong>
  <%= @diamond.clarity %>
</p>

<p>
  <strong>Treatment:</strong>
  <%= @diamond.treatment %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @diamond.shape %>
</p>

<p>
  <strong>Condgirdle:</strong>
  <%= @diamond.condgirdle %>
</p>

<p>
  <strong>Condculet:</strong>
  <%= @diamond.condculet %>
</p>

<p>
  <strong>Sizeculet:</strong>
  <%= @diamond.sizeculet %>
</p>

<p>
  <strong>Conditioncut:</strong>
  <%= @diamond.conditioncut %>
</p>

<p>
  <strong>Length:</strong>
  <%= @diamond.length %>
</p>

<p>
  <strong>Width:</strong>
  <%= @diamond.width %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @diamond.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @diamond.height %>
</p>

<p>
  <strong>Description:</strong>
  <%= @diamond.description %>
</p>

<%= link_to 'Edit', edit_diamond_path(@diamond) %> |
<%= link_to 'Back', diamonds_path %>
