<% if user_signed_in? %>
<div class="container nav70">
you are logged in

<% if current_user.role == "checkuser" %>
<p>We currently check your account and submitted information. On average, users get access within 24h after submitting all information. If you have any questions, please contact info@flipgemstones.com for more information. Or call us at +41 (0) 44 586 33 31.</p>

<% else %>

<h2>What do you want to do?</h2>

<h4><%= link_to 'Create New Colored Gemstones Listing', new_colorgem_path %></h4>
<h4><%= link_to "Check Colored Gemstones", colorgems_path %></h4>
<h4><%= link_to "Check Messages", welcome_mailbox_path %></h4>
<br>
<h4>Need help? Contact us at info@flipgemstones.com or call us +41 (0) 44 586 33 31.</h4>
<% end %>
</div>
<% else %>

    <div id="slider">
        <div class="container">
            <h1 id="mainheading">Marketplace for Gemstones</h1>
            <h3 id="subheading">Unique opportunity to display your stones</h3>
            <%= link_to "Sign Up Now", new_user_registration_path, :class => "btn btn-primary btn-lg" %>
        </div>
    </div>

    
    <div id="howflipgemstoneshelp">
        <div class="container">
            <h2 class="homeheading">How can Flipgemstones help me?</h2>
            <div class="row">
                  <div class="col-md-6">
                      <div class="col-md-3 helpimghome">
                          <%= image_tag("secure.svg", :class => "imageadv", :alt => "Secure Community at FLIPGEMSTONES.COM") %>
                      </div>
                      <div class="col-md-9">
                          <h4>Community</h4>
                          <p>Anyone who wants to participate in the exchange on Flipgemstones has to register and get approved before getting access to information about the stones.</p>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="col-md-3 helpimghome">
                          <%= image_tag("business.svg", :class => "imageadv", :alt => "Increase your Gemstone Turnover with FLIPGEMSTONES.COM") %>
                      </div>
                      <div class="col-md-9">
                          <h4>Business</h4>
                          <p>Anyone who wants to participate in the exchange on Flipgemstones has to register and get approved before getting access to information about the stones.</p>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="col-md-3 helpimghome">
                          <%= image_tag("search.svg", :class => "imageadv", :alt => "Use Searchfunction from FLIPGEMSTONES.COM") %>
                      </div>
                      <div class="col-md-9">
                          <h4>Search &#38; Find</h4>
                          <p>Anyone who wants to participate in the exchange on Flipgemstones has to register and get approved before getting access to information about the stones.</p>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="col-md-3">
                          <%= image_tag("support.svg", :class => "imageadv", :alt => "Get support if you get stucks") %>
                      </div>
                      <div class="col-md-9">
                          <h4>Support</h4>
                          <p>Anyone who wants to participate in the exchange on Flipgemstones has to register and get approved before getting access to information about the stones.</p>
                      </div>
                  </div>
            </div>
        </div>
    </div>
    
    <div id="flipgemstonescategory">
        <div class="container">
            <h2 class="homeheading">Categories on Flipgemstones</h2>
            <div class="deviderhomepage"></div>
            <div class="row">
                <div class="col-md-6 coloredgemhomepage"></div>
                <div class="col-md-4 catdescriptionhomepage">
                    <h4>Colored Gemstones</h4>
                    <p>Get a free account today to browse through the available stones. Upgrade to list your own stones and start selling your stones globally. Need help? Contact us, we are here to help you.</p>
                    <%= link_to "Check available listings", colorgems_path, :class => "btn btn-primary btn-sm" %>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="deviderhomepage"></div>
            <div class="row">
                <div class="col-md-6 diamondshomepage"></div>
                <div class="col-md-4 catdescriptionhomepage">
                    <h4>Diamonds</h4>
                    <p>Coming Soon. Be one of the frist to get the listings published on Flipgemstones and contact us via email to arrange import and access.</p>
                    <a href="mailto:admin@flipgemstones.com?Subject=My Diamonds%20on%20Flipgemstones" target="_top" class="btn btn-primary btn-sm">Be First. Contact Us Now!</a>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="deviderhomepage"></div>
            <div class="row">
                <div class="col-md-6 jewelleryhomepage "></div>
                <div class="col-md-4 catdescriptionhomepage">
                    <h4>Jewellery</h4>
                    <p>Coming Soon. Be one of the frist to get the listings published on Flipgemstones and contact us via email to arrange import and access.</p>
                    <a href="mailto:admin@flipgemstones.com?Subject=My Jewellery%20on%20Flipgemstones" target="_top" class="btn btn-primary btn-sm">Be First. Contact Us Now!</a>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>   
    </div>

    <div id="prefooter">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4>Contact Us</h4>
                    <p>Email: admin@flipgemstones.com</p>
                    <p>Call Us: +41XXXXXXXXXXX</p>
                </div>
                <div class="col-md-3">
                    <h4>Information</h4>
                    <ul>
                        <li><%= link_to "About us", root_path %></li>
                        <li><%= link_to "Privacy Policy", root_path %></li>
                        <li><%= link_to "Terms & Conditions", root_path %></li>
                        <li><%= link_to "Payment & Membership", root_path %></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>Customer Service</h4>
                    <ul>
                        <li><%= link_to "Support", root_path %></li>
                        <li><%= link_to "Import Support", root_path %></li>
                        <li><%= link_to "Matching Service", root_path %></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h4>Social Media</h4>
                    <ul>
                        <li><%= link_to "Support", root_path %></li>
                        <li><%= link_to "Import Support", root_path %></li>
                        <li><%= link_to "Matching Service", root_path %></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<% end %>


