<h1>My Colored Gemstones</h1>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Gemstonetype</th>
			<th>Color</th>
			<th>Shape</th>
			<th>Length</th>
			<th>Height</th>
			<th>Width</th>
			<th>Weight</th>
			<th>Gemscertificate</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<% @colorgems.each do |colorgem| %>
		<tr>
			<td><%= colorgem.gemstonetype %></td>
			<td><%= colorgem.color %></td>
			<td><%= colorgem.shape %></td>
			<td><%= colorgem.length %></td>
			<td><%= colorgem.height %></td>
			<td><%= colorgem.width %></td>
			<td><%= colorgem.weight %></td>
			<td><%= colorgem.gemscertificate %></td>
			<td><%= link_to 'Show', colorgem %></td>
			<td><%= link_to 'Edit', edit_colorgem_path(colorgem) %></td>
			<td><%= link_to 'Delete', colorgem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</tbody>
</table>

  <p>
    Download:
    <%= link_to "CSV", welcome_ownerlist_path(format: "csv") %> |
    <%= link_to "Excel", welcome_ownerlist_path(format: "xls") %> |<br>
    <%= link_to 'Create New Colored Gemstones Listing', new_colorgem_path %>
  </p>
