<div class="container">
<h4 class="panel-title">
  My Colored Gemstones
</h4>

<div class="panel-body">
       <% if @colorgems.size > 0 %>
       <table class="table table-hover">
        <thead>
          <tr>
            <th>Type of Stone</th>
            <th>Shape</th>
            <th>Weight</th>
            <th>Status</th>
            <th colspan="4"></th>
          </tr>
        </thead>

        <tbody>
          <% @colorgemspag.each do |colorgem| %>
          <tr>
            <td><%= colorgem.gemstonetype %></td>
            <td><%= colorgem.shape %></td>
            <td><%= colorgem.weight %></td>
            <td><%= colorgem.listingstatus %></td>
            <td><%= link_to 'Show', colorgem %></td>
            <td><%= link_to 'Edit', edit_colorgem_path(colorgem) %></td>
            <td>
              <% if colorgem.active? %>
                <%= form_for colorgem do |t| %>
                  <%= t.hidden_field :listingstatus, :value => "disabled"%>
                  <%= t.submit "Disable Listing" %>
                <% end %>
              <% else %>
                <%= form_for colorgem do |t| %>
                  <%= t.hidden_field :listingstatus, :value => "active"%>
                  <%= t.submit "Activating Listing" %>
                <% end %>
             <% end %>

           </td>
         </tr>
         <% end %>
       </tbody>
     </table>


     <%= will_paginate @colorgemspag %>
     <p>
      Download:
      <%= link_to "CSV", welcome_export_path(format: "csv", source: 'colorgem') %> |
      <%= link_to "Excel", welcome_export_path(format: "xls",source: 'colorgem') %> |<br>
      <%= link_to 'Create New Colored Gemstones Listing', new_colorgem_path %>
    </p>
    <h2>Import Colored Gems</h2>
    <%= form_tag welcome_import_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= hidden_field_tag(:source, "colorgems") %>
    <%= submit_tag "Import" %>
    <% end %>
    <% else %>
    <%= link_to 'Create New Colored Gemstones Listing', new_colorgem_path %>
    <% end %>
  </div>
</div>
</div>