<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          My Colored Gemstones
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
       <% if @colorgems.size > 0 %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Gemstonetype</th>
      <th>Color</th>
      <th>Shape</th>
      <th>Length</th>
      <th>Height</th>
      <th>Width</th>
      <th>Weight</th>
      <th>Gemscertificate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @colorgems.each do |colorgem| %>
    <tr>
      <td><%= colorgem.gemstonetype %></td>
      <td><%= colorgem.color %></td>
      <td><%= colorgem.shape %></td>
      <td><%= colorgem.length %></td>
      <td><%= colorgem.height %></td>
      <td><%= colorgem.width %></td>
      <td><%= colorgem.weight %></td>
      <td><%= colorgem.gemscertificate %></td>
      <td><%= link_to 'Show', colorgem %></td>
      <td><%= link_to 'Edit', edit_colorgem_path(colorgem) %></td>
      <td><%= link_to 'Delete', colorgem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<p>
  Download:
  <%= link_to "CSV", welcome_ownerlist_path(format: "csv") %> |
  <%= link_to "Excel", welcome_ownerlist_path(format: "xls") %> |<br>
  <%= link_to 'Create New Colored Gemstones Listing', new_colorgem_path %>
</p>
<% else %>
<%= link_to 'Create New Colored Gemstones Listing', new_colorgem_path %>
<% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          My Diamonds
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <% if @diamonds.size > 1 %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Weight</th>
      <th>Color</th>
      <th>Clarity</th>
      <th>Treatment</th>
      <th>Shape</th>
      <th>Condgirdle</th>
      <th>Condculet</th>
      <th>Sizeculet</th>
      <th>Conditioncut</th>
      <th>Length</th>
      <th>Width</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diamonds.each do |diamond| %>
    <tr>
      <td><%= diamond.weight %></td>
      <td><%= diamond.color %></td>
      <td><%= diamond.clarity %></td>
      <td><%= diamond.treatment %></td>
      <td><%= diamond.shape %></td>
      <td><%= diamond.condgirdle %></td>
      <td><%= diamond.condculet %></td>
      <td><%= diamond.sizeculet %></td>
      <td><%= diamond.conditioncut %></td>
      <td><%= diamond.length %></td>
      <td><%= diamond.width %></td>
      <td><%= diamond.weight %></td>
      <td><%= diamond.height %></td>
      <td><%= diamond.description %></td>
      <td><%= link_to 'Show', diamond %></td>
      <td><%= link_to 'Edit', edit_diamond_path(diamond) %></td>
      <td><%= link_to 'Destroy', diamond, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diamond', new_diamond_path %>

<% else %>

<%= link_to 'New Diamond', new_diamond_path %>
<% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          My Colored Diamonds
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <% if @colordiamonds.size > 1 %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Weight</th>
      <th>Color</th>
      <th>Clarity</th>
      <th>Treatment</th>
      <th>Shape</th>
      <th>Condgirdle</th>
      <th>Condculet</th>
      <th>Sizeculet</th>
      <th>Conditioncut</th>
      <th>Length</th>
      <th>Width</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Description</th>
      <th>Intensitecolor</th>
      <th>Bycolor1</th>
      <th>Bycolor2</th>
      <th>Diamondcertificate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @colordiamonds.each do |colordiamond| %>
    <tr>
      <td><%= colordiamond.weight %></td>
      <td><%= colordiamond.color %></td>
      <td><%= colordiamond.clarity %></td>
      <td><%= colordiamond.treatment %></td>
      <td><%= colordiamond.shape %></td>
      <td><%= colordiamond.condgirdle %></td>
      <td><%= colordiamond.condculet %></td>
      <td><%= colordiamond.sizeculet %></td>
      <td><%= colordiamond.conditioncut %></td>
      <td><%= colordiamond.length %></td>
      <td><%= colordiamond.width %></td>
      <td><%= colordiamond.weight %></td>
      <td><%= colordiamond.height %></td>
      <td><%= colordiamond.description %></td>
      <td><%= colordiamond.intensitecolor %></td>
      <td><%= colordiamond.bycolor1 %></td>
      <td><%= colordiamond.bycolor2 %></td>
      <td><%= colordiamond.diamondcertificate %></td>
      <td><%= link_to 'Show', colordiamond %></td>
      <td><%= link_to 'Edit', edit_colordiamond_path(colordiamond) %></td>
      <td><%= link_to 'Destroy', colordiamond, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Colordiamond', new_colordiamond_path %>

<% else %>
<%= link_to 'New Colordiamond', new_colordiamond_path %>
<% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          My Jewellery
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <% if @jewelleries.size > 1 %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Stone1</th>
      <th>Stone2</th>
      <th>Stone3</th>
      <th>Material1</th>
      <th>Material2</th>
      <th>Material3</th>
      <th>Description</th>
      <th>Certificate</th>
      <th>Companymade</th>
      <th>Owner</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jewelleries.each do |jewellery| %>
    <tr>
      <td><%= jewellery.title %></td>
      <td><%= jewellery.stone1 %></td>
      <td><%= jewellery.stone2 %></td>
      <td><%= jewellery.stone3 %></td>
      <td><%= jewellery.material1 %></td>
      <td><%= jewellery.material2 %></td>
      <td><%= jewellery.material3 %></td>
      <td><%= jewellery.description %></td>
      <td><%= jewellery.certificate %></td>
      <td><%= jewellery.companymade %></td>
      <td><%= jewellery.owner %></td>
      <td><%= link_to 'Show', jewellery %></td>
      <td><%= link_to 'Edit', edit_jewellery_path(jewellery) %></td>
      <td><%= link_to 'Destroy', jewellery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jewellery', new_jewellery_path %>

<% else %>

<%= link_to 'Create a new Jewellery listing here', new_jewellery_path %>
<% end %>
      </div>
    </div>
  </div>
</div>

