<h2>Upgrade your account today!</h2>

<p>Add functionality and scope to your FLIPGEMSTONES.COM account. Upgrade to a Silver or Gold account to get additional function and benefits!</p>
<br>


<div class="container">

<div class="row">
  <div class="col-md-4">
  <div class="panel panel-danger">
     <div class="panel-heading"><h3 class="text-center">SILVER PLAN</h3></div>
         <div class="panel-body text-center">
      <p class="lead" style="font-size:40px"><strong>CHF 90 / Year</strong></p>
    </div>
                       <ul class="list-group list-group-flush text-center">
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Extended Filter</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Upload up to 50 stones</li>
              </ul>
    <div class="panel-footer">
     <%= form_tag customers_path do %>
   <h4>Upgrade Now!</h4>

  <div class='form-group'>
    <%= select_tag 'customer[plan]', options_for_select([['Gold', 'gold_month'], ['SILVER', 'silver_month']]), :class => 'form-control' %>
  </div>

  <div class='form-group'>
    <%= hidden_field_tag "customer[source][object]", 'card' %>
    <%= text_field_tag "customer[source][number]", nil, :placeholder => 'Card number', :class => 'form-control' %>
    <%= select_tag "customer[source][exp_month]", options_for_select([['January', '01'], ['FEBRUARY', '01']]), :class => 'form-control' %>
    <%= select_tag "customer[source][exp_year]", options_for_select([2015,2016,2017]), :class => 'form-control' %>
  </div>

  <%= submit_tag "Sign me up!", :class => 'btn btn-lg btn-block', :data => {:disable_with => 'Submitting...'} %>
 <% end %>
  </div>
 </div>

  </div>
   <div class="col-md-4">
  <div class="panel panel-info">
     <div class="panel-heading"><h3 class="text-center">GOLD PLAN</h3></div>
         <div class="panel-body text-center">
      <p class="lead" style="font-size:40px"><strong>CHF 499.00 / Year</strong></p>
    </div>
                       <ul class="list-group list-group-flush text-center">
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited Lisitings</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Upload function (XLS/CSV)</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Extended Filter</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> We upload your first batch of listings</li>
              <li class="list-group-item"><i class="icon-ok text-danger"></i> Premium Support</li>
            </ul>
    <div class="panel-footer">
    <a class="btn btn-lg btn-block btn-danger"">BUY NOW!</a>
  </div>
 </div>

  </div>
   <div class="col-md-4">

  <a href='https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.flipgemstones.com' target='_blank'><img src='https://www.expeditedssl.com/ssl-secure-badge.png'  alt='Expedited SSL Scanner'></a>


  </div>
  </div>
</div>
