<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @jewellery.title %>
</p>

<p>
  <strong>Stone1:</strong>
  <%= @jewellery.stone1 %>
</p>

<p>
  <strong>Stone2:</strong>
  <%= @jewellery.stone2 %>
</p>

<p>
  <strong>Stone3:</strong>
  <%= @jewellery.stone3 %>
</p>

<p>
  <strong>Material1:</strong>
  <%= @jewellery.material1 %>
</p>

<p>
  <strong>Material2:</strong>
  <%= @jewellery.material2 %>
</p>

<p>
  <strong>Material3:</strong>
  <%= @jewellery.material3 %>
</p>

<p>
  <strong>Description:</strong>
  <%= @jewellery.description %>
</p>

<p>
  <strong>Certificate:</strong>
  <%= @jewellery.certificate %>
</p>

<p>
  <strong>Companymade:</strong>
  <%= @jewellery.companymade %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @jewellery.owner %>
</p>

<%= link_to 'Edit', edit_jewellery_path(@jewellery) %> |
<%= link_to 'Back', jewelleries_path %>
