<%= form_for(@colorgem) do |f| %>
<% if @colorgem.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@colorgem.errors.count, "error") %> prohibited this colorgem from being saved:</h2>

  <ul>
    <% @colorgem.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<script>
$(function() {
    var availableTags = <%= Colorgem.group(:gemstonetype).map{|item| item.gemstonetype }.to_s.html_safe %>;
    $( "#gemstonetype" ).autocomplete({
      source: availableTags
    });
  });
</script>
<script>
$(function() {
    var availableTags = <%= Colorgem.group(:shape).map{|item| item.shape }.to_s.html_safe %>;
    $( "#shape" ).autocomplete({
      source: availableTags
    });
  });
</script>





<div class="field">
  <%= f.label :gemstonetype %><br>
  <%= f.text_field :gemstonetype %>
</div>
<div class="field">
  <%= f.label :color %><br>
  <%= f.text_field :color %>
</div>
<div class="field">
  <%= f.label :shape %><br>
  <%= f.text_field :shape %>
</div>
<div class="field">
  <%= f.label :length %><br>
  <%= f.text_field :length %>
</div>
<div class="field">
  <%= f.label :height %><br>
  <%= f.text_field :height %>
</div>
<div class="field">
  <%= f.label :width %><br>
  <%= f.text_field :width %>
</div>
<div class="field">
  <%= f.label :weight %><br>
  <%= f.text_field :weight %>
</div>
<div class="field">
  <%= f.label :gemscertificate %><br>
  <%= f.check_box :gemscertificate %>
</div>

<div class="form-group">
  <%= f.file_field :image, class: "form-control" %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>



select(:gemstonetype, options_for_select([['Ruby', 'Ruby'], ['Sapphire', 'Sapphire'], ["Opal", "Opal"], ["Citrin"]]))