<%= form_for(@colorgem, :html => { multipart: true }) do |f| %>
<% if @colorgem.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@colorgem.errors.count, "error") %> prohibited this colorgem from being saved:</h2>

  <ul>
    <% @colorgem.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="field">
  <%= f.label "Type of Stone" %><br>
  <%= f.select :gemstonetype, options_for_select([["",""],["Actinolite","2Actinolite"],["Afghanite","Afghanite"],["Agate","Agate"],["Alexandrite","Alexandrite"],["Almandine Garnet","Almandine Garnet"],["Amazonite","Amazonite"],["Amber","Amber"],["Amethyst","Amethyst"],["Ametrine","Ametrine"],["Ammolite","Ammolite"],["Ammonite","Ammonite"],["Amphibole","Amphibole"],["Amphibolite","Amphibolite"],["Andesine","Andesine"],["Andradite","Andradite"],["Apatite","Apatite"],["Apophyllite","Apophyllite"],["Aquamarine","Aquamarine"],["Aventurine","Aventurine"],["Axinite","Axinite"],["Beryl","Beryl"],["Blood Stone","Blood Stone"],["Brookite","Brookite"],["Bustamite","Bustamite"],["Calcite","Calcite"],["Carnelian","Carnelian"],["Cassiterite","Cassiterite"],["Chalcedony","Chalcedony"],["Charoite","Charoite"],["Chiastolite","Chiastolite"],["Chondrodite","Chondrodite"],["Chrome Diopside","Chrome Diopside"],["Chrome Garnet","Chrome Garnet"],["Chrome Tourmaline","Chrome Tourmaline"],["Chrysoberyl","Chrysoberyl"],["Chrysocolla","Chrysocolla"],["Chrysoprase","Chrysoprase"],["Citrine","Citrine"],["Clinohumite","Clinohumite"],["Cluster Stone","Cluster Stone"],["Cobalt Calcite","Cobalt Calcite"],["Copal","Copal"],["Coral","Coral"],["Danburite","Danburite"],["Demantoid","Demantoid"],["Dendrite","Dendrite"],["Diaspor","Diaspor"],["Dragon Stone","Dragon Stone"],["Dravite","Dravite"],["Drusy Agate","Drusy Agate"],["Eliat","Eliat"],["Emerald","Emerald"],["Eudialyte","Eudialyte"],["Fire opal","Fire opal"],["Fluorite","Fluorite"],["Fuchsite","Fuchsite"],["Garnet","Garnet"],["Hackmanite","Hackmanite"],["Hambergite","Hambergite"],["Hauynite","Hauynite"],["Heliodor","Heliodor"],["Hematite","Hematite"],["Hemmimorphite","Hemmimorphite"],["Hessonite","Hessonite"],["Hiddenite","Hiddenite"],["Howlite","Howlite"],["Idocrase","Idocrase"],["Imperial Morganite","Imperial Morganite"],["Imperial Opal","Imperial Opal"],["Iolite","Iolite"],["Jade","Jade"],["Jasper","Jasper"],["Jet","Jet"],["Jewelry","Jewelry"],["Joharchidolite","Joharchidolite"],["Kornerupine","Kornerupine"],["Kunzite","Kunzite"],["Kyanite","Kyanite"],["Labradorite","Labradorite"],["Lapis Lazuli","Lapis Lazuli"],["Larimar","Larimar"],["Lava","Lava"],["Magnetite","Magnetite"],["Malachite","Malachite"],["Mandarin Garnet","Mandarin Garnet"],["Martite","Martite"],["Meteorite","Meteorite"],["Moldavite","Moldavite"],["Moonstone","Moonstone"],["Morganite","Morganite"],["Mother of Pearl","Mother of Pearl"],["Mozambique Garnet","Mozambique Garnet"],["Mystic Topaz","Mystic Topaz"],["Nambulite","Nambulite"],["Necklace","Necklace"],["Nephrite","Nephrite"],["Onyx","Onyx"],["Opal","Opal"],["Orthoclase","Orthoclase"],["Painite","Painite"],["Paraiba Tourmaline","Paraiba Tourmaline"],["Pearl","Pearl"],["Peridot","Peridot"],["Petalite","Petalite"],["Phenakite","Phenakite"],["Pollucite","Pollucite"],["Prasiolite","Prasiolite"],["Prehnite","Prehnite"],["Pyrite Spectral","Pyrite Spectral"],["Quartz","Quartz"],["Rhodochrosite","Rhodochrosite"],["Rhodolite","Rhodolite"],["Rhodonite","Rhodonite"],["Rose Quartz","Rose Quartz"],["Rubellite","Rubellite"],["Ruby","Ruby"],["Rutile Quartz","Rutile Quartz"],["Rutile Topaz","Rutile Topaz"],["Sapphire","Sapphire"],["Sapphire Color Change","Sapphire Color Change"],["Sard","Sard"],["Scapolite","Scapolite"],["Seraphinite","Seraphinite"],["Serendibite","Serendibite"],["Set","Set"],["Sillimanite","Sillimanite"],["Silvolite","Silvolite"],["Sodalite","Sodalite"],["Spessartite Garnet","Spessartite Garnet"],["Sphalerite","Sphalerite"],["Sphene","Sphene"],["Spinel","Spinel"],["Spodumene","Spodumene"],["Star Ruby","Star Ruby"],["Star Sapphire","Star Sapphire"],["Sugulite","Sugulite"],["Sunstone","Sunstone"],["Tantalite","Tantalite"],["Tanzanite","Tanzanite"],["Tektite","Tektite"],["Thulite","Thulite"],["Tiger Eye","Tiger Eye"],["Topaz","Topaz"],["Tourmaline","Tourmaline"],["Tsavorite Garnet","Tsavorite Garnet"],["Turquoise","Turquoise"],["Unakite","Unakite"],["Unheated Sapphire","Unheated Sapphire"],["Variscite","Variscite"],["Verdite","Verdite"],["Vesuvianite","Vesuvianite"],["White Marble","White Marble"],["Wulfenite","Wulfenite"],["Zincite","Zincite"],["Zircon","Zircon"],["Zultanite","Zultanite"]]), :class => 'genForm_dropBox' %>
</div>
<div class="field">
  <%= f.label :color %><br>
  <%= f.select :color, options_for_select([["",""],["Black","Black"],["Blue","Blue"],["Brown","Brown"],["Colorless","Colorless"],["Green","Green"],["Grey","Grey"],["Orange","Orange"],["Pink","Pink"],["Red","Red"],["Violet","Violet"],["White","White"],["Yellow","Yellow"],["Mix","Mix"],["No Information","No Information"]], :class => 'genForm_dropBox') %>
</div>
<div class="field">
  <%= f.label :shape %><br>
  <%= f.select :shape, options_for_select([["",""],["Cushion","Cushion"],["Pear","Pear"],["Octagon","Octagon"],["Trapezoid","Trapezoid"],["Barrel","Barrel"],["Ball","Ball"],["Round","Round"],["",""],["Oval","Oval"],["Mixed shapes","Mixed shapes"],["Shield","Shield"],["Triangle","Triangle"],["Rectangular","Rectangular"],["Marquise","Marquise"],["Free Shape","Free Shape"],["Kite","Kite"],["Square","Square"],["Hexagon","Hexagon"],["Drum","Drum"],["Capsule","Capsule"],["Fancy","Fancy"],["Star","Star"],["Baguette","Baguette"],["Trillion","Trillion"],["Pyramid","Pyramid"],["Drop","Drop"],["Half Pie","Half Pie"],["Heart","Heart"],["Bullet","Bullet"],["Tube","Tube"],["Cameo","Cameo"],["Flower","Flower"],["Crystal","Crystal"],["Button","Button"],["Ring","Ring"],["Pie","Pie"],["Antique Cushion","Antique Cushion"],["Rhombus","Rhombus"],["Block","Block"],["Cube","Cube"],["Briolette","Briolette"],["Egg","Egg"],["Pendant","Pendant"],["Cross","Cross"],["Animal","Animal"],["Pampel","Pampel"],["Donut","Donut"],["Shell","Shell"],["Elongated Cushion","Elongated Cushion"]], :class => 'genForm_dropBox') %>
</div>
<div class="field">
  <%= f.label "Length in mm" %><br>
  <%= f.text_field :length, :size=>5, :style=>"width: initial" %>
</div>
<div class="field">
  <%= f.label "Height in mm" %><br>
  <%= f.text_field :height, :size=>5, :style=>"width: initial" %>
</div>
<div class="field">
  <%= f.label "Width in mm" %><br>
  <%= f.text_field :width, :size=>5, :style=>"width: initial" %>
</div>
<div class="field">
  <%= f.label "Weight in ct" %><br>
  <%= f.text_field :weight, :size=>5, :style=>"width: initial" %>
</div>
<div class="field">
  <%= f.label "Color Brightness" %><br>
  <%= f.select :colorbrightness, options_for_select([["",""],["Very light","Very light"],["Light","Light"],["Medium light","Medium light"],["Medium dark","Medium dark"],["Dark","Dark"],["Very dark","Very dark"],["No Information","No Information"]], :class => 'genForm_dropBox') %>
</div>
<div class="field">
  <%= f.label "Transparency" %><br>
  <%= f.select :transparency, options_for_select([["",""],["Transparent","Transparent"],["Translucent","Translucent"],["Opaque","Opaque"],["Mix","Mix"]], :class => 'genForm_dropBox') %>
</div>
<div class="field">
  <%= f.label :clarity %><br>
  <%= f.select :clarity, options_for_select([["",""],["Loupe clean","Loupe clean"],["Almost loupe clean","Almost loupe clean"],["Eye clean","Eye clean"],["Very slightly included","Very slightly included"],["Slightly included","Slightly included"],["Moderately included","Moderately included"],["Included","Included"],["Heavily included","Heavily included"]]) %>
</div>
<div class="field">
  <%= f.label :treatment %><br>
  <%= f.select :treatment, options_for_select([["",""],["A (assumption: none)","A (assumption: none)"],["B (bleached)","B (bleached)"],["C (coated)","C (coated)"],["D (dyed)","D (dyed)"],["F (filled with glass)","F (filled with glass)"],["G","G"],["H (heated)","H (heated)"],["I (impragnated)","I (impragnated)"],["L","L"],["N (not treated)","N (not treated)"],["O (filled with oil/resin)","O (filled with oil/resin)"],["Q (composite)","Q (composite)"],["R (irradiated)","R (irradiated)"],["S (synthetic)","S (synthetic)"],["T","T"],["U (diffusion)","U (diffusion)"],["Z (assumption: treated)","Z (assumption: treated)"]]) %>
</div>
<div class="field">
  <%= f.label "Number of stones" %><br>
  <%= f.text_field :gemsunit, :size=>5, :style=>"width: initial" %>
</div>
<div class="field">
  <%= f.label "Price/ct" %><br>
  <%= f.text_field :price, :size=>5, :style=>"width: initial" %>
</div>
<div class="field">
  <%= f.label "Certificate available?" %><br>
  <%= f.check_box :gemscertificate %>
</div>

<div class="field">
  <%= f.label "Stone image" %><br>
  <%= f.file_field :image%>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>




