<%= form_for(@colorgem, :html => { multipart: true }) do |f| %>
<% if @colorgem.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@colorgem.errors.count, "error") %> prohibited this colorgem from being saved:</h2>

  <ul>
    <% @colorgem.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="field">
  <%= f.label :gemstonetype %><br>
  <%= f.text_field :gemstonetype %>
</div>
<div class="field">
  <%= f.label :color %><br>
  <%= f.text_field :color %>
</div>
<div class="field">
  <%= f.label :shape %><br>
  <%= f.text_field :shape %>
</div>
<div class="field">
  <%= f.label :length %><br>
  <%= f.text_field :length %>
</div>
<div class="field">
  <%= f.label :height %><br>
  <%= f.text_field :height %>
</div>
<div class="field">
  <%= f.label :width %><br>
  <%= f.text_field :width %>
</div>
<div class="field">
  <%= f.label :weight %><br>
  <%= f.text_field :weight %>
</div>
<div class="field">
  <%= f.label :colorbrightness %><br>
  <%= f.text_field :colorbrightness %>
</div>
<div class="field">
  <%= f.label :transparency %><br>
  <%= f.text_field :transparency %>
</div>
<div class="field">
  <%= f.label :clarity %><br>
  <%= f.text_field :clarity %>
</div>
<div class="field">
  <%= f.label :treatment %><br>
  <%= f.text_field :treatment %>
</div>
<div class="field">
  <%= f.label :gemsunit %><br>
  <%= f.text_field :gemsunit %>
</div>
<div class="field">
  <%= f.label :price %><br>
  <%= f.text_field :price %>
</div>
<div class="field">
  <%= f.label :gemscertificate %><br>
  <%= f.check_box :gemscertificate %>
</div>

<div class="field">
  <%= f.label :image %><br>
  <%= f.file_field :image%>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>



<script>
$(function() {
    var colorgemTags = <%= @autogemstonetype.html_safe %>;
    $( "#colorgem_gemstonetype" ).autocomplete({ source: colorgemTags });

    var shapeTags = <%= @autoshape.html_safe %>;
    $( "#colorgem_shape" ).autocomplete({ source: shapeTags });

    var colorTags = <%= @autocolor.html_safe %>;
    $( "#colorgem_color" ).autocomplete({ source: colorTags });

    var clarityTags = <%= @autoclarity.html_safe %>;
    $( "#colorgem_clarity" ).autocomplete({ source: clarityTags });

  });
</script>

