<h1>Listing colorgems</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Gemstonetype</th>
      <th>Color</th>
      <th>Shape</th>
      <th>Length</th>
      <th>Height</th>
      <th>Width</th>
      <th>Weight</th>
      <th>Gemscertificate</th>
    </tr>
  </thead>

  <tbody>
    <% @colorgems.each do |colorgem| %>
    <tr>
      <td><%= colorgem.gemstonetype %></td>
      <td><%= colorgem.color %></td>
      <td><%= colorgem.shape %></td>
      <td><%= colorgem.length %></td>
      <td><%= colorgem.height %></td>
      <td><%= colorgem.width %></td>
      <td><%= colorgem.weight %></td>
      <td><%= colorgem.gemscertificate %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Colorgem', new_colorgem_path %>
