
<h2>Currently: <%= Colorgem.all.size %> colored gemstones available</h2>

<%= search_form_for @search do |f| %>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Basic Search
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in " role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
       <div class="row">
        <div class="col-md-4">
          <p><div class="field">
            <%= f.label :gemstonetype_cont, "Stone Type" %>
            <%= f.text_field :gemstonetype_cont %>
          </div></p>
          <p><div class="field">
            <%= f.label :weight_gteq, "Weight " %>
            <%= f.text_field :weight_gteq %> 
            <%= f.label :weight_lteq, "-" %>
            <%= f.text_field :weight_lteq %> 
          </div></p>
        </div>
        <div class="col-md-4 ">
          <p><div class="field">
            <%= f.label :length_gteq, "Length " %>
            <%= f.text_field :length_gteq %> 
            <%= f.label :length_lteq, "-" %>
            <%= f.text_field :length_lteq %> 
          </div></p>
          <p><div class="field">
            <%= f.label :width_gteq, "Width " %>
            <%= f.text_field :width_gteq %> 
            <%= f.label :width_lteq, "-" %>
            <%= f.text_field :width_lteq %> 
          </div></p>
        </div>
        <div class="col-md-4">
          <p><div class="field">
            <%= f.label :color_cont, "Color" %>
            <%= f.text_field :color_cont %>
          </div></p>
        </div>
        <div class="col-md-4">
          <p><div class="field">
            <%= f.label :shape_cont, "Shape" %>
            <%= f.text_field :shape_cont %>
          </div></p>

        </div>
        <br>  
      </div>
    </div>
  </div>

  <% if user_signed_in? %>
  <% if current_user.role = "silveruser" || "golduser" || "admin"%>
  <div class="panel panel-default hidden-xs">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Extendend Search
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <p><div class="field">
              <%= f.label :secondcolor_cont, "2nd Color" %>
              <%= f.text_field :secondcolor_cont %>
            </div></p>
            <p><div class="field">
              <%= f.label :height_gteq, "Height " %>
              <%= f.text_field :height_gteq%> 
              <%= f.label :height_lteq, "-" %>
              <%= f.text_field :height_lteq%> 
            </div></p>
          </div>
          <div class="col-md-4 ">
            <p><div class="field">
              <%= f.label :colorbrightness_cont, "Brightness" %>
              <%= f.text_field :colorbrightness_cont %>
            </div></p>
            <p><div class="field">
              <%= f.label :transparency_cont, "Transparency" %>
              <%= f.text_field :transparency_cont %>
            </div></p>
          </div>
          <div class="col-md-4">
            <p><div class="field">
              <%= f.label :clarity_cont, "Clarity" %>
              <%= f.text_field :clarity_cont %>
            </div></p>
          </div>
          <div class="col-md-4">
            <p><div class="field">
              <%= f.label :treatment_cont, "Treatment" %>
              <%= f.text_field :treatment_cont %>
            </div></p>
          </div>
          <div class="col-md-4">
            <p><div class="field">
              <%= f.label :gemsunit_cont, "No. of Stones" %>
              <%= f.text_field :gemsunit_cont %>
            </div></p>
          </div>
          <div class="col-md-4">
          <p><div class="field">
            <%= f.check_box :gemscertificate_true %>
            <%= f.label :gemscertificate__true, "Certifiate" %>
          </div></p>
        </div>
                   <br>


        </div>
      </div>        </div>
    </div>
  </div>
  <% else %>
  <% end %>
  <% end %>
</div>
<br>
<div class="col-md-12">
  <p>
    <button class="btn btn-primary btn-xs"><%= f.submit "Search" %></button>
  </p>
</div>
<% end %>
<br>
<br>
<br>
<table class="table table-hover table-condensed table-bordered">
  <thead>
    <tr>
      <th>Image</th></div>
      <th>Category</th>
      <th>Color</th>
      <th>Shape</th>
      <th>Length</th>
      <th>Width</th>
      <th>Weight</th>
    </tr>
  </thead>

  <tbody>
    <% @colorgems.each do |colorgem| %>
    <tr>
      <td><%= link_to (image_tag colorgem.image.url, :size => "80x80"), colorgem %></td>
      <td><%= link_to colorgem.gemstonetype, colorgem %></td>
      <td><%= colorgem.color %></td>
      <td><%= colorgem.shape %></td>
      <td><%= colorgem.length %></td>
      <td><%= colorgem.width %></td>
      <td><%= colorgem.weight %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="pagination">
<%= will_paginate @colorgems %>
</div>


