<p id="notice"><%= notice %></p>

<p>
  <strong>Gemstonetype:</strong>
  <%= @colorgem.gemstonetype %>
</p>

<p>
  <strong>Color:</strong>
  <%= @colorgem.color %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @colorgem.shape %>
</p>

<p>
  <strong>Length:</strong>
  <%= @colorgem.length %>
</p>

<p>
  <strong>Height:</strong>
  <%= @colorgem.height %>
</p>

<p>
  <strong>Width:</strong>
  <%= @colorgem.width %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @colorgem.weight %>
</p>

<p>
  <strong>Gemscertificate:</strong>
  <%= @colorgem.gemscertificate %>
</p>

<p><%= button_to "Add to Cart", line_items_path(@colorgem) %></p>

<%= link_to 'Edit', edit_colorgem_path(@colorgem) %> |
<%= link_to 'Back', colorgems_path %>

<br>



               









