<h1><%= @colorgem.weight %>ct <%= @colorgem.gemstonetype %></h1>
<br>

<div class="row">
  <div class="col-md-6">
    <%= image_tag @colorgem.image.url(:large) %>
  </div>
  <div class="col-md-3">
    <p>Sort of Stone: <%= @colorgem.gemstonetype %></p>
    Color:  <%= @colorgem.color %>
  </div>
  <div class="col-md-3">
    
   

  </div>
  

</div>


<p>
  <strong>Gemstonetype:</strong>
  <%= @colorgem.gemstonetype %>
</p>

<p>
  <strong>Color:</strong>
  
</p>

<p>
  <strong>Shape:</strong>
  <%= @colorgem.shape %>
</p>

<p>
  <strong>Length:</strong>
  <%= @colorgem.length %>
</p>

<p>
  <strong>Height:</strong>
  <%= @colorgem.height %>
</p>

<p>
  <strong>Width:</strong>
  <%= @colorgem.width %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @colorgem.weight %>
</p>

<p>
  <strong>Gemscertificate:</strong>
  <%= @colorgem.gemscertificate %>
</p>

<p><%= button_to "Add to Cart", line_items_path(@colorgem) %></p>

<%= link_to 'Edit', edit_colorgem_path(@colorgem) %> |
<%= link_to 'Back', colorgems_path %>

<br>


Attributes:
Price
  Quantity
    Weight

Description
  Sort of stone
  color
  2nd color
  birghtness
  transparancy
  clarity
  treatment

cut/shape/condition
  sort of cut
  shape
  surface finishing
  quality of cut
  type of cut top side
  type of cut bottom side

Measurements
  L, W, Height


               









