
<% if user_signed_in? %>
<% if current_user.role == "checkuser" %>
<div class="container nav70">
    <p>Once your account has been approved you can access all information about stones and send requests. <strong>Activation should happen within 24h.</strong> If you have any questions, please contact the Flipgemstones team at info@flipgemstones.com </p>
    <p>In the meantime, please add all required information to your account <%= link_to "Add Information to my account", edit_user_registration_path %></p>
</div>
    <% else %>
<div class="container nav70">
    <section>
    <div class="row">
      <div class="col-md-4">
        <h2><%= @colorgem.weight%>ct <%= @colorgem.gemstonetype %></h2>
        <br>
        <% if !@colorgem.image.url.blank? %>
        <div class="img-responsive">
            <%= image_tag @colorgem.image.url, :size => "200x200", :class => "imgshowgem" %>
          </div>
          <% end %>
      </div>

    <div class="col-md-8">
      <h2></h2>
      <div class="col-md-4">
        <h4>General Information</h4>
        <p>Gemstone: <%= @colorgem.gemstonetype %></p>
        <p>Weight: <%= @colorgem.weight %>ct</p>
        <p>Shape: <%= @colorgem.shape %></p>
        <p>Color: <%= @colorgem.color %></p>
        <% if !@colorgem.clarity.blank? %>
            <p>Clarity: <%= @colorgem.clarity %></p>
        <% end %>
        <% if ! @colorgem.treatment.blank? %>
            <p>Treatment: <%= @colorgem.treatment %></p>
        <%end%>
        <% if !@colorgem.price.blank? %>
            <p>Price/ct: <%= @colorgem.price %></p>
            <p>Total price (CHF): <%= @colorgem.weight * @colorgem.price %></p>
        <% end %>

        <h4>Measurements</h4>
        <p>Length: <%= @colorgem.length %>mm</p>
        <p>Width: <%= @colorgem.width %>mm</p>
        <% if !@colorgem.height %>
            <p>Height: <%= @colorgem.height %>mm</p>
        <% end %>
        <% if !@colorgem.gemsunit %>
            <p>No. of stones: <%= @colorgem.gemsunit %></p>
        <% end %>
      </div>

      <div class="col-md-4">
      <% if !!@colorgem.colorbrightness.blank? && !@colorgem.secondcolor.blank? && !@colorgem.transparency.blank? %>
        <h4>Additional Information</h4>
    <% end %>
        <%if !@colorgem.colorbrightness.blank? %>
            <p>Color Brightness: <%= @colorgem.colorbrightness %></p>
        <%end%>
        <% if !@colorgem.secondcolor.blank? %>
            <p>Second Color: <%= @colorgem.secondcolor %></p>
        <%end%>
        <% if !@colorgem.transparency.blank? %>
            <p>Transparency: <%= @colorgem.transparency %></p>
        <% end %>
        <h3>Request Stone</h3>
        <p>The owner of the stone will receive a message with your company name, email and phone number via the flipgemstones.com message system.</p>
        <p><%= button_to "Send Request", add_request_conversations_path(colorgem_id: @colorgem), :class => "btn btn-primary" %></p>
      </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <h5>Want more information? Is information about this stone missing?</h5>
        <a href="mailto:admin@flipgemstones.com?Subject=request information: <%= @colorgem.gemstonetype %>, id: <%= @colorgem.id %>,ct: <%= @colorgem.weight %>" target="_top" class="btn btn-primary">Send us an Email</a>
    </div>
    </div>
    <%= link_to "Back", :back %>
    </section>
    <% end %>
</div>
<% else %>
<div class="container nav70">
    <p>Interested in the stone? <%= link_to "Please register here for a free account.",  new_user_registration_path %></p>
    <h4>Already have an account? <%= link_to "Please login here.", new_user_session_path %></h4>
</div>
<% end %>











