<p id="notice"><%= notice %></p>

<p>
  <strong>Colorgem:</strong>
  <%= @line_item.colorgem %>
</p>

<p>
  <strong>Colordiamonds:</strong>
  <%= @line_item.colordiamonds %>
</p>

<p>
  <strong>Diamonds:</strong>
  <%= @line_item.diamonds %>
</p>

<p>
  <strong>Jewellery:</strong>
  <%= @line_item.jewellery %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @line_item.cart %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
