<%= render 'layouts/olark' %>
<%= render 'layouts/google' %>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p>Copyright &copy; Oliver Jones 2015  |  <%= link_to "Disclaimer (Impressum)", welcome_imprint_path %> |  <%= link_to "Terms and Conditions", welcome_terms_and_conditions_path %>  |  <%= link_to "Colored Gemstones", colorgems_path %>  |  <%= link_to "Get Account", new_user_registration_path %>  |  <%= link_to "Already Member? Sign In", new_user_session_path %></p>
  </div>
</nav>
