<!DOCTYPE html>
<html>
<head>
  <title>Flipgemstones</title>
  <meta charset="utf-8" />
  <%= render 'layouts/bootstrap' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'custom', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>  
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="//load.sumome.com/" data-sumo-site-id="d0ca9f96063f3d282283ef6ea802369dc65a3d7504e423cca88a915728a4a0e0" async></script>
</head>
<body>
  	<%= render 'layouts/navbar' %>
   	<%= yield %>
 	<%= render 'layouts/footer' %>
</body>
</html>
