<!DOCTYPE html>
<html>
<head>
  <title>Flipgemstones</title>
  <meta charset="utf-8" />
  <%= render 'layouts/bootstrap' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'custom', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>  
</head>
<body>
  	<%= render 'layouts/navbar' %>
   	<%= yield %>
 	<%= render 'layouts/footer' %>
</body>
</html>
