<!DOCTYPE html>
<html>
<head>
  <title>Flipgemstones</title>
  <meta charset="utf-8" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'custom', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>  
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  <script src="//load.sumome.com/" data-sumo-site-id="d0ca9f96063f3d282283ef6ea802369dc65a3d7504e423cca88a915728a4a0e0" async></script>
</head>
<body>
  	<%= render 'layouts/navbar' %>
   	<%= yield %>
 	<%= render 'layouts/footer' %>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>
